#--------------------------------------------------------------------

# .gitignore file, see http://git-scm.com/docs/gitignore for details

#--------------------------------------------------------------------

# Ignore artifacts of build system
.idea
.idea/
.idea/*
.idea/**/
.idea/*/*
.ambvir/*
.ambvir/
.ambvir/**/
.ambvir/*/*